name: Docker Image CICD V2

on:
  push:
    branches: [ "main" ]

env:
  EKS_CLUSTER_NAME: demo-cluster
  AWS_REGION: us-east-1
  DOCKER_IMAGE: a28307/sanvalero:daw-temperaturas-frontend

jobs:
  build-and-deploy:
    name: Deployment
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push to Docker Hub
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ env.DOCKER_IMAGE }} 
        platforms: linux/amd64

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Update kube config
      run: |
        aws eks update-kubeconfig --name ${{ env.EKS_CLUSTER_NAME }} --region ${{ env.AWS_REGION }}

    - name: Deploy to EKS
      run: |
        kubectl delete deployment temperaturas-frontend --ignore-not-found=true
        kubectl create deployment temperaturas-frontend --image=${{ env.DOCKER_IMAGE }}
        kubectl patch deployment temperaturas-frontend --type='json' -p='[{"op": "add", "path": "/spec/template/spec/containers/0/ports", "value": [{"containerPort": 3008}]}]'
        kubectl patch deployment temperaturas-frontend -p '{"spec":{"template":{"spec":{"containers":[{"name":"daw-temperaturas-frontend","imagePullPolicy":"Always"}]}}}}'
